<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-6">
            <div class="headerlogo " style="margin-top: 60px;">
                <img src="../assets/undraw_questions_re_1fy7.svg" height="500px" width="500px">

            </div>
        </div>
        <div class="col-4">
            <h5 class="head text-primary" style="text-align: center;margin: 25px; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ; border-radius: 20px;
            border-color:blueviolet"><b>Welcome to QuizApp</b></h5>
            <div class="card">
            <input type="text" class="form-control" placeholder="Enter Your Name" id="name" #name>
           
        </div>
        <button type="submit" class="btn btn-primary " style="margin-top: 35px; margin-left: 130px; border-radius: 10px;" routerLink="/question" (click)="startquiz()">Start the Quiz</button>
        </div>
    </div>
</div>